input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none !important;
}

.checkoutCard input {
    padding: 0 8px !important;
    appearance: none;
    margin-bottom: 0 !important;
    margin-left: 0px !important;
    outline: 0;
}

.checkoutCard {
    margin: 16px auto;
    width: 100%;
}

.modalCard input {
    padding: 0 8px !important;
    appearance: none;
    margin-bottom: 0 !important;
    margin-left: 0px !important;
    outline: 0;
}

/* .modalCard {
    width: 500px;
} */

@media only screen and (max-width: 600px) {
    .checkoutCard{
        width: 100%;
        height: 350px;
        margin: 20px auto;
    }

    /* .modalCard{
        width: 80%;
    } */
    .radioFieldContainer{
        margin: auto;
        width: 300px !important;
        
    }
}


.buttonAlign{
    margin-top: 20px !important;
    
}

.editButton{
    float: right;
}

.radioFieldContainer{
    margin: auto;
    width: 700px;
}

.submitButton{
    margin: auto;
    width: 700px;
}
