/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.button-control{
    background-color: #e4e4e4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-left: 10px;
  padding-bottom: 10px;
}

.control-counters {
  display: 'flex';
  align-items: 'center';
  justify-content: 'space-around';
}

.cardCount{
  outline: none;
  box-shadow: none;
  border-bottom: none !important;
  width: 20px;
  padding-top: 0;
  padding-bottom: 0;

}
.cardCount::after{
  outline: none;
  box-shadow: none;
  border-bottom: none !important;
  width: 20px;
  padding-top: 0;
  padding-bottom: 0;

}
.cardCount:focus{
  outline: none !important;
  box-shadow: none !important;
  width: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.dialog-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}
