body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer{
    position: relative;
    left: 0;
    right: 0;
    clear: both;
    /* margin-top: 25vh; */
    width: 100%;
    background-color: #141414 !important;
    padding-top: 16px;
}

#mainTag{

  /* overflow:auto; */
  height: 100vh;
  flex: 1;
  /* padding-bottom: 100px; */

}
